<div class="container m-3">
  <div class="row">
    <div class="col-4">
      <select
        class="form-select"
        aria-label="Categories"
        (change)="handleCategoryChange($event)"
      >
        <option value="{{NON_SELECTED_CATEGORY_VALUE}}" selected>- Select a value -</option>
        <option
          *ngFor="let category of categoryService.categories$ | async as categories"
          [value]="category.id"
        >{{category.categoryName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts$ | async as products">
          <th scope="row">{{product.id}}</th>
          <td>{{product.productName}}</td>
          <td>{{product.categoryName}}</td>
          <td>{{product.price | currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
