<div class="container m-3">
  <div class="row">
    <div class="col-4">
      <select class="form-select" aria-label="Categories">
        <option value="0" selected>- Select a value -</option>
        <option *ngFor="let category of categories">{{category.categoryName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{product.id}}</th>
          <td>{{product.productName}}</td>
          <td>{{product.categoryId}}</td>
          <td>{{product.price | currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
