<div class="centered">
  <h1>WS07 - Angular-Pipes</h1>
  <h3>Built-in Pipes</h3>
  <p>
    <strong>DatePipe</strong> - Formats a date value according to locale rules.
    <br> Plain date: {{currentDate}}
    <br> With browsers-locale:  {{currentDate | date}}
    <br> 'yyyy. MMMM dd' -   {{currentDate | date : 'yyyy. MMMM dd'}}
    <br> 'yy-M-dd' -  {{currentDate | date : 'yy-M-dd'}}
    <br> 'yyyy.MM.dd HH:mm:ss' -  {{currentDate | date : 'yyyy.MM.dd HH:mm:ss'}}
    <br>
    <strong>UpperCasePipe</strong> - Transforms text to all upper case. <br>
    {{'my text'| uppercase}}<br>
    <strong>LowerCasePipe</strong> - Transforms text to all lower case. <br>
    {{'MY TEXT'| lowercase}}<br>
    <strong>CurrencyPipe</strong> - Transforms a number to a currency string, formatted according to locale rules. <br>
    {{ 1000 | currency:'USD':'symbol'}}<br>
    {{ 1000 | currency:'FT':'symbol'}}<br>
    <strong>DecimalPipe</strong> - Transforms a number into a string with a decimal point, formatted according to locale
    rules.<br>
    {{1 | number:'3.5'}}<br>
    {{100 | number:'.2'}}<br>
    {{10000000 | number:'.2'}}<br>
    <strong>PercentPipe</strong> - Transforms a number to a percentage string, formatted according to locale rules. <br>
    {{ 0.36 | percent}}<br>
    {{ 0.25 | percent: '4.2'}}<br>
  </p>
  <h3>Chaining pipes</h3>
  <p>
    <strong>Date TO long-format TO uppercase</strong>  {{currentDate | date:'yyyy. MMMM dd' | uppercase}}
  </p>

  <!--  TODO: Write your exercise solution here! -->

</div>
