<div class="centered">
  <h1>WS05 - Directives Practice</h1>

  <button>Show the girls</button>
  <button>Show the boys</button>
  <button>Show everyone</button>
  <!--  Replace these buttons below, for custom directives demo  -->
  <!--  <button appCustomDirective>Show the girls</button>-->
  <!--  <button [appCustomDirectiveWithInput]="'blue'">Show the boys</button>-->
  <!--  <button appCustomDirectiveWithListener>Show everyone</button>-->


  <h3>All the characters:</h3>
  <div class="character">
    <h5>Peppa Pig</h5>
    <img
      src="https://i5.walmartimages.com/asr/40c4baef-703b-4d2a-8d3d-4e251453950d_1.2e9513fbb59279d2f86d8b9c85863e35.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
      alt="character"/>
  </div>
</div>
